<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bye</title>
</head>
<body>
    <h1>{{ singer }} - {{ title }}</h1>
    <h3>따뜻하게 사랑하며 살아가는 둥그런 사람들에게<br></h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vkj2hzWqwp8?si=AsgWsXVZM5DigpTW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <pre>
        이대로 나 모진 사람이 된 것 같아
        이 걱정의 말을 해
        내가 바라보는 사람이 되어볼까
        모진 구석 하나 없구나
        나는 그저 마음 하나를 빌린 건데
        커져가니 닮아 있구나
        많은 사람 지나쳐도 난 모진 사람
        오늘은 곧 사라져 가는 사람들 속에서
        아니 더 큰 먼지가 되어온 날
        날 바라보는 사람들 시선에 갇혀 지내도
        나는 아직 모질고 거친 거야
        잊고 서 있는 사람이 되고 싶었어 그래도
        내가 서툴어 말하지 않았다면 좋았을까
        이대로 또 모진 사람이 된 것 같아
        또 걱정의 말을 해
        나는 겁이 나서 또 울고만 있고
        오늘은 곧 사라져 가는 사람들 속에서
        아니 더 큰 먼지가 되어온 날
        날 바라보는 사람들 시선에 갇혀 지내도
        나는 아직 모질고 거친 거야
        잊고 서 있는 사람이 되고 싶었어 그래도
        내가 서툴어 말하지 않았다면 좋았을까
        잊고 서 있는 사람이 되고 싶었어 그래도
        내가 서툴어 말하지 않았다면 좋았을까
        이대로 나 모진 사람이 된 것 같아
        나는 그저 마음 하나를 빌린 건데
        많은 사람 지나쳐도 난 모진 사람
    </pre>
</body>
</html>